#DICA: USE O UV PIP INSTALL

# Core e Orquestração
langchain
crewai
langchain-community
agno

# Integrações (Removendo travas rígidas para evitar o conflito de SDK)
langchain-openai
openai
langchain-google-genai
langchain-openrouter
sentence-transformers
langchain-huggingface
langchain-qdrant

# Ferramentas e Auxiliares
google-search-results
yfinance
duckduckgo-search
python-dotenv
litellm
pydantic
gitpython
bandit
safety
pypdf

arxiv
fpdf2
lxml_html_clean
newspaper3k